<div class="center jumbotron">
  <h1><%= t "globalname" %></h1>
  <p><%= t "welcome" %></p>
   <%= link_to t("signup.signupnow"), new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
