<tr>
<td><%= avatar_for user %></td>
<td><%= link_to user.name, user %></td>
<td><%= user.email %></td>
<td><%= link_to t("delete"), admin_user_path(user), method: :delete,
        data: {confirm: t("areyousure")} unless user == current_user %></td>
</tr>
