<footer class="footer">
  <small><%=t "globalname"%></small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), "#" %></li>
      <li><%= link_to t("news"), "#" %></li>
    </ul>
  </nav>
</footer>
